a {
  color: white;
}


button {
  height: 4vw;
  width: 35vh;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5vh;
  padding-right:10px;
  color:#87aef7;
  font-weight:bolder;
  text-decoration: none;
}


@-webkit-keyframes AnimationName {
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
}
@keyframes AnimationName {
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
}
body {

background: linear-gradient(116deg, #8a96f9, #131d36, #226092);
background-size: 600% 600%;

-webkit-animation: AnimationName 38s ease infinite;
animation: AnimationName 38s ease infinite;


  font-size: 4vh;
  /* background-image: linear-gradient(to right, #1629a1, #65b3e0, #a6bde0); */
  text-align:center;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

#box {
  margin-left: 3vh;
  margin-right: 3vh;
  padding: 50px;
}

.fill:hover, .fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}
.pulse:hover, .pulse:focus {
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}
.fill {
  --color: #a972cb;
  --hover: #cb72aa;
}
.pulse {
  --color: #ef6eae;
  --hover: #ffffff;
}

}
button {
  color: var(--color);
  transition: 0.25s;
}
button:hover, button:focus {
  border-color: var(--hover);
  color: #fff;
}
body {
  color: #fff;
  /* background: #17181c; */
  font: 300 1em "Fira Sans", sans-serif;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  display: flex;
}
button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  padding-top: 10px;
}
h1 {
  font-weight: 400;
}
code {
  color: #e4cb58;
  font: inherit;
}


#title{

    font-weight: 400;
    font-size: 10vh;
    -webkit-animation: color-change 10s infinite;
    -o-animation: color-change 1s infinite;
    -ms-animation: color-change 1s infinite;
    animation: color-change 10s infinite;
}

@-webkit-keyframes color-change {
    0% { color: #bfe1fd; }
    50% { color: #d2dde6; }
    100% { color: #fbdfff; }
}

@-ms-keyframes color-change {
  0% { color: #bfe1fd; }
  50% { color: #d2dde6; }
  100% { color: #fbdfff; }
}
@-o-keyframes color-change {
  0% { color: #bfe1fd; }
  50% { color: #d2dde6; }
  100% { color: #fbdfff; }
}
@keyframes color-change {
  0% { color: #bfe1fd; }
  50% { color: #d2dde6; }
  100% { color: #fbdfff; }
}
