

button {
  height: 3vw;
  width: 12vh;
  background-color: #ebf1ff;
}


body {
  margin-top: 30vh;
  background-color: #aac6fa;
  text-align:center;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

#box {
  margin-left: 3vh;
  margin-right: 3vh;
  border: 12px dashed white;
  padding: 50px;

}
