body {
  text-align: center;
  font: 300 1em "Fira Sans", sans-serif;
  color: white;
  font-size: 5vh;
  font-weight: 500;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  background: linear-gradient(116deg, #8a96f9, #131d36, #226092);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 38s ease infinite;
  animation: AnimationName 38s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
}
@keyframes AnimationName {
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #aac6fa;
}

@-webkit-keyframes color-change {
    0% { color: white; }
    50% { color: #cce6ff; }
    100% { color: white; }
}

@-ms-keyframes color-change {
  0% { color: white; }
  50% { color: #cce6ff; }
  100% { color: white; }
}
@-o-keyframes color-change {
  0% { color: white; }
  50% { color: #cce6ff; }
  100% { color: white; }
}
@keyframes color-change {
  0% { color: white; }
  50% { color: #cce6ff; }
  100% { color: white; }
}

h1 {
  margin-top: 30vh;
  font-weight:bolder;
  -webkit-animation: color-change 10s infinite;
  -o-animation: color-change 1s infinite;
  -ms-animation: color-change 1s infinite;
  animation: color-change 10s infinite;
}


.text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-color:#aac6fa;


}

#sessionCode {
  height: 15vh;
  width: 30vw;
  font-size:4vh;
  text-align: center;
}

#codeInput {
  height:12vh;
  width:40vw;
  font-size:35px;
  text-align:center;
  font: "Fira Sans", sans-serif;
  color: #9fbff9;
  border-radius:30px;
  }

::placeholder {
  color:#cfdffc;
}
