body {
  background-color: #aac6fa;
  text-align: center;
  font: 300 1em "Fira Sans", sans-serif;
  color: white;
  font-size: 5vh;
  font-weight: 500;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #aac6fa;
}

h1 {
  margin-top: 30vh;
}

#sessionCode {
  height: 15vh;
  width: 30vh;
  font-size:4vh;
  text-align: center;
}

#codeInput {
  height:12vh;
  width:40vw;
  font-size:35px;
  text-align:center;
  font: "Fira Sans", sans-serif;
  }
}
