body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  /* vertical-align: middle; */
  background: linear-gradient(116deg, #8a96f9, #131d36, #226092);
  background-size: 600% 600%;
  margin: auto;
  -webkit-animation: AnimationName 38s ease infinite;
  animation: AnimationName 38s ease infinite;
}

.navbar {
  overflow: hidden;
  background-color: #131d36;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}



/* Links inside the navbar */
.navbar a {
  float: right;
  display: block;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover{
  background-color:#184467;
  color:white;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
}
@keyframes AnimationName {
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
}

@-webkit-keyframes color-change {
    0% { color: white; }
    50% { color: #cce6ff; }
    100% { color: white; }
}

@-ms-keyframes color-change {
  0% { color: white; }
  50% { color: #cce6ff; }
  100% { color: white; }
}
@-o-keyframes color-change {
  0% { color: white; }
  50% { color: #cce6ff; }
  100% { color: white; }
}
@keyframes color-change {
  0% { color: white; }
  50% { color: #cce6ff; }
  100% { color: white; }
}

.understandingheader {
  font-size:50px;
  -webkit-animation: color-change 5s infinite;
  -o-animation: color-change 1s infinite;
  -ms-animation: color-change 1s infinite;
  animation: color-change 10s infinite;
}

.understanding {
  font-size:25px;
  font-family:'Montserrat', sans-serif;
  color:white;
  text-decoration:none;
  background-color: #b6cdfc;
  border-color: grey;
}

.und_submit {
  font-family:'Montserrat', sans-serif;
  font-size: 20px;
  border: none;
  color: #aac6fa;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius:200px;
}

.questionheader {
  font-size:50px;
  -webkit-animation: color-change 7s infinite;
  -o-animation: color-change 1s infinite;
  -ms-animation: color-change 1s infinite;
  animation: color-change 10s infinite;
}

.questionbox {
  height:12vh;
  width:40vw;
  font-size:35px;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
}

.qsubmit {
  font-family:'Montserrat', sans-serif;
  font-size: 20px;
  border: none;
  color: #aac6fa;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius:200px;
}
