body {
  background-color: #aac6fa;
  font-family: 'Montserrat', sans-serif;
}


@media screen and (max-width: 992px) {
  .box {
    width: 45%;
  }
}


@media screen and (max-width: 600px) {
  .box {
    width: 90%;
  }
}

#questionBox {
  background-color: white;
  height: 90vh;
  float: right;
  width: 40%;
  margin-left: 1vw;
  margin-right: 4vw;
}

#chart_div {
  /* margin-left: 4vw; */
  width: 48%;
  float: left;
  margin-left: 4vw;
  margin-right: 1vw;
}

#txtBox {
  margin-left: 2vw;
  margin-top: 2vw;
}

#introText {
  text-align: center;
  margin-top: 5vh;
}

/* .box{

}

#txtBox {
  margin-left: 2%;
} */
