body {
  background-color: #aac6fa;
  text-align: center;
  font-family: 'Montserrat', sans-serif;

}

button {
    margin-top: 20vh;
    height: 6vw;
    width: 36vh;
    background-color: #ebf1ff;
    font-size: 3vh;
    font-family: 'Montserrat', sans-serif;
    color: #87aef7;
}
