body {
  background-color: #aac6fa;
  text-align: center;
  font-family: 'Montserrat', sans-serif;

}

#tInfo {
  margin-top: 6vw;
  margin-left: 20vh;
  margin-right: 20vh;
  font-weight: bold;
  font-size: 15px;
}

button {
    margin-top: 30vh;
    height: 6vw;
    width: 36vh;
    background-color: #ebf1ff;
    font-size: 3vh;
    font-family: 'Montserrat', sans-serif;
    color: #87aef7;
}
