body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(116deg, #8a96f9, #131d36, #226092);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 38s ease infinite;
  animation: AnimationName 38s ease infinite;
  margin:auto;
}

.navbar {
  overflow: hidden;
  background-color: #131d36;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}



/* Links inside the navbar */
.navbar a {
  float: right;
  display: block;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover{
  background-color:#184467;
  color:white;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
}
@keyframes AnimationName {
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
}

#tInfo {
  margin-top: 6vw;
  margin-left: 20vh;
  margin-right: 20vh;
  font-weight: bold;
  font-size: 18px;
  color:white;

}




.fill:hover, .fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}
.pulse:hover, .pulse:focus {
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}
.fill {
  --color: #a972cb;
  --hover: #cb72aa;
}
.pulse {
  --color: #ef6eae;
  --hover: #ffffff;
}

}
button {
  color: var(--color);
  transition: 0.25s;
}
button:hover, button:focus {
  border-color: var(--hover);
  color: #fff;
}

button {
  margin-top: 35vh;
  height: 5vw;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  /* margin: 0.5em; */
  padding: 1em 2em;
  padding-top: 20px;
  font-size: 20px;
  width: 36vh;
  color: #005d8c;

}
