body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(116deg, #8a96f9, #131d36, #226092);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 38s ease infinite;
  animation: AnimationName 38s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
}
@keyframes AnimationName {
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
}


@media screen and (max-width: 992px) {
  .box {
    width: 45%;
  }
}


@media screen and (max-width: 600px) {
  .box {
    width: 90%;
  }
}

input[type="submit"] {
    padding:5px 15px;
    background:#83a1cc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border-radius:200px;
    text-align:center;
}

#chat_div {
  background-color: white;
  height: 90vh;
  float: right;
  width: 40%;
  margin-left: 1vw;
  margin-right: 4vw;
}

#questionheader {
  text-align: center;
}

.chatdiv2 {
  color:white;
  border-radius: 200px;
  text-align:right;
  background-color:red;
}

#chart_div {
  /* margin-left: 4vw; */
  width: 48%;
  float: left;
  margin-left: 4vw;
  margin-right: 1vw;
}

#txtBox {
  margin-left: 2vw;
  margin-top: 2vw;
  padding:3vw;
  height:2vw;
}

#introText {
  text-align: center;
  margin-top: 5vh;
  color:white;
}

#openOrClose {
  font-family:'Montserrat', sans-serif;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius:200px;
}

/* .box{

}

#txtBox {
  margin-left: 2%;
} */
