<!DOCTYPE html>
<html>
  <head>
    <title>lmk</title>
    <link rel = "stylesheet" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/images/lmk.ico" type="image/x-icon"/>
  </head>
  <body>


    {% if user %}
    <div class="navbar">
      <a href="{{logout_url}}">log out</a>

    </div>
    <div id="box">
    <form>

    <h1>Are you a
<div class="buttons">
    <button class = "pulse" formaction="/studentDashboard">Student</button>
    or
    <button class = "pulse" formaction="/teacherDashboard">Teacher</button> </div>

    </h1>


    </form>
    </div>
    {% else %}
    <div class="navbar">
      <a href="{{login_url}}" class="login">log in</a>
    </div>
    <div id="box">

    <form>

    <h1 id = "title">lmk</h1>

    </form>
  </div>
    {% endif %}


  </body>
</html>
