<!DOCTYPE html>
<html>
  <head>
    <title>lmk</title>
    <link rel = "stylesheet" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://lmk.ico" type="image/x-icon" />
    <!-- <link rel="ICON" href="https://lmk.ico" type="image/ico" /> -->
  </head>
  <body>

    <div id="box">
    {% if user %}
    <form>
    <h1>Are you a
<div class="buttons">
    <button class = "pulse" formaction="/studentDashboard">Student</button>
    or
    <button class = "pulse" formaction="/teacherDashboard">Teacher</button> </div>

    </h1>

    <a href="{{logout_url}}">Logout</a>
    </form>
    {% else %}
    <form>

    <h1 id = "title">lmk</h1>
    <a href="{{login_url}}">Login</a>
    </form>
  </div>
    {% endif %}


  </body>
</html>
