<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>live session</title>
    <link rel = "stylesheet" href="/css/studentSession.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="navbar">
      <a href="/">home</a>
    </div><br>
    <h1>{{sCode}}</h1>
    <center><h1 class="understandingheader">Enter your level of understanding:</h1>

     <h2>{{open_closed}}</h2>
    <form method="post" action="/addNumber" >
      <select name="understanding" class="understanding">
        <option value="5">Five (Got it!)</option>
        <option value="4">Four</option>
        <option value="3">Three</option>
        <option value="2">Two</option>
        <option value="1">One (I'm lost)</option>
      </select><br><br>
      <button type="submit" class="und_submit">Submit Feedback</button>
    </form>
    <form action="/addQuestion" method="post">
      <div>
        <h2 class="questionheader">Enter Question:</h2>
        <input type="text" name="question" value="" class="questionbox">
        <br><br>
        <button type="Submit" name="" value="Enter" class="qsubmit">Submit Question</button>
      </div>
    </form>
  </body>
</html>
