<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel = "stylesheet" href="/css/studentSession.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>{{sCode}}</h1>
    <center>
    <form action="/addQuestion" method="post">
      <div>
        <h2 class="questionheader">Enter Question:</h2>
        <input type="text" name="question" value="" class="questionbox">
        <br><br>
        <button type="Submit" name="" value="Enter" class="qsubmit">Submit Question</button>
      </div>
    </form>
    <button type="button" name="understandingPage" href="/feedback">Submit Feedback</button>
  </body>
</html>
