<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Your Dashboard</title>
    <link rel = "stylesheet" href="/css/studentDash.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/images/lmk.ico" type="image/x-icon">

  </head>
  <body>
    <div class="navbar">
      <a href="/">home</a>
    </div>
  <div id="sessionEntry">
    <form action="/studentDashboard" method="post">
      <h1 class="text">Enter Your Session Code: </h1><input type="text" name="code" id="codeInput" placeholder=" Session Code (example: 715)" ></input>
    </form>
    <p id="notCorrect">{{notCorrect}}</p>
  </div>
  </body>
</html>
<!-- id="sessionCode" -->
