<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href="/css/studentSession.css">
  </head>
  <body>
    <h1>{{sCode}}</h1>
    <center><h1>Enter your level of understanding</h1>
    <!-- <h2>{{open_closed}}</h2> -->
    <form method="post">
      <select name="understanding">
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        <option value="4">Four</option>
        <option value="5">Five</option>
      </select>
      <input type="submit">
    </form>
    <form action="/addQuestion" method="post">
      <div>
        <h2>Enter Question</h2>
        <input type="text" name="question" value="">
        <br>
        <input type="Submit" name="" value="Enter">
      </div>
    </form>
  </body>
</html>
